 .u-section-1 {
  min-height: 1085px;
}

.u-section-1 .u-text-1 {
  margin: 33px auto 0 calc(((100% - 1140px) / 2) + 304px);
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 33px auto 0 calc(((100% - 1140px) / 2) + 359px);
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -54px calc(((100% - 1140px) / 2) + 103px) 0 auto;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 68px calc(((100% - 1140px) / 2) + 59px) 0 auto;
  padding: 10px 31px 10px 30px;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -46px auto 0 calc(((100% - 1140px) / 2) + 425px);
}

.u-section-1 .u-btn-5 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 41px calc(((100% - 1140px) / 2) + 74px) 0 auto;
}

.u-section-1 .u-btn-6 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -54px auto 0 calc(((100% - 1140px) / 2) + 439px);
}

.u-section-1 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 191px);
  height: 1100px;
  margin: -382px auto 0 0;
}

.u-section-1 .u-btn-7 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -1071px auto 0 calc(((100% - 1140px) / 2));
  padding: 3px 30px;
}

.u-section-1 .u-btn-8 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 21px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-btn-9 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 22px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-btn-10 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 22px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-btn-11 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 22px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-btn-12 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 100px auto 0 calc(((100% - 1140px) / 2) + 420px);
}

.u-section-1 .u-btn-13 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -46px calc(((100% - 1140px) / 2) + 86px) 0 auto;
}

.u-section-1 .u-btn-14 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 83px calc(((100% - 1140px) / 2) + 86px) 0 auto;
}

.u-section-1 .u-btn-15 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -76px auto 0 calc(((100% - 1140px) / 2) + 429px);
}

.u-section-1 .u-btn-16 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 70px calc(((100% - 1140px) / 2) + 86px) 0 auto;
}

.u-section-1 .u-btn-17 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -103px auto 0 calc(((100% - 1140px) / 2) + 429px);
}

.u-section-1 .u-btn-18 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 60px auto 0 calc(((100% - 1140px) / 2) + 398px);
}

.u-section-1 .u-btn-19 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -57px calc(((100% - 1140px) / 2) + 100px) 0 auto;
}

.u-section-1 .u-btn-20 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 36px calc(((100% - 1140px) / 2) + 241px) 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 304px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 940px) / 2) + 159px);
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-3 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-4 {
    margin-left: calc(((100% - 940px) / 2) + 225px);
  }

  .u-section-1 .u-btn-5 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-6 {
    margin-left: calc(((100% - 940px) / 2) + 239px);
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 191px);
  }

  .u-section-1 .u-btn-7 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-8 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-9 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-10 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-11 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-12 {
    margin-left: calc(((100% - 940px) / 2) + 220px);
  }

  .u-section-1 .u-btn-13 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-14 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-15 {
    margin-left: calc(((100% - 940px) / 2) + 229px);
  }

  .u-section-1 .u-btn-16 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-17 {
    margin-left: calc(((100% - 940px) / 2) + 229px);
  }

  .u-section-1 .u-btn-18 {
    margin-left: calc(((100% - 940px) / 2) + 198px);
  }

  .u-section-1 .u-btn-19 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-20 {
    margin-right: calc(((100% - 940px) / 2) + 41px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 233px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-3 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-4 {
    margin-left: calc(((100% - 720px) / 2) + 5px);
  }

  .u-section-1 .u-btn-5 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-6 {
    margin-left: calc(((100% - 720px) / 2) + 19px);
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 191px);
  }

  .u-section-1 .u-btn-7 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-8 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-9 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-10 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-11 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-12 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-13 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-14 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-15 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 9px);
  }

  .u-section-1 .u-btn-16 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-17 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 9px);
  }

  .u-section-1 .u-btn-18 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-19 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-20 {
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 175px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-3 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-4 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-5 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-6 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 191px);
  }

  .u-section-1 .u-btn-7 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-8 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-9 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-10 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-11 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-12 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-13 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-14 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-15 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-16 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-17 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-18 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-19 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-20 {
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2) + 110px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-3 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-4 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-5 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-6 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 191px);
  }

  .u-section-1 .u-btn-7 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-8 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-9 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-10 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-11 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-12 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-13 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-14 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-15 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-16 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-17 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-18 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-19 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-20 {
    margin-right: calc(((100% - 340px) / 2));
  }
}