 .u-section-1 {
  min-height: 402px;
}

.u-section-1 .u-text-1 {
  margin: 91px auto 0 calc(((100% - 1140px) / 2) + 335px);
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 168px calc(((100% - 1140px) / 2) + 151px) 0 auto;
}

.u-section-1 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 191px);
  height: 411px;
  margin: -381px auto 0 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -395px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 22px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 22px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-btn-5 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 22px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-btn-6 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 22px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-video-1 {
  height: 253px;
  width: 449px;
  margin: -259px calc(((100% - 1140px) / 2)) 60px auto;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 276px);
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 191px);
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-3 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-4 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-5 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-6 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-video-1 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .embed-responsive-1 {
    left: -39%;
    top: -39%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 211px);
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 191px);
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-3 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-4 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-5 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-6 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-video-1 {
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 158px);
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 191px);
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-3 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-4 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-5 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-6 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-video-1 {
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 341px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2) + 99px);
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 191px);
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-3 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-4 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-5 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-6 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-video-1 {
    height: 192px;
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }
}